<div class="container" style ='background-color:lightgrey';>
	<h1 class="about-heading">ABOUT US</h1>
 <div class="row img-margin">    
     	<div class="bio-box">
 	    <%@secretariats.each do |s|%>
 	        <div class="secretariat_img"><%= image_tag  s.image_url.url,class: "photo" %></div>
 	            <div class="bio-right">
 	                <div class="bio-header">
                        <div class="position-one"><%=s.position%></div>
                            <div class="name"><%=s.name%></div>
                                <div><%=s.college%></div>
                                    <div><%=s.major%></div>
                    </div>
                    <div class="bio"><%=s.description.html_safe%></div>
                </div>       
        <%end%>
        </div> 
 </div>
</div>