  
<header>
 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <%@images.each_with_index do |image, ind|%>
            <%if ind == 0%>
                <li data-target="#carousel-example-generic" data-slide-to=<%=ind%> class="active"></li>
            <%else%>
                <li data-target="#carousel-example-generic" data-slide-to=<%=ind%>></li>
            <%end%>
        <%end%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <%@images.each_with_index do |image, i|%>
            <%if i == 0 %>
                <div class="item active">
            <%else%>
                <div class="item">
            <%end%>
            <%=image_tag (image.image_url)%>
            <!-- <img src="assets/f1.jpg" alt="..."> -->
            <div class="carousel-caption">
      	    </div>
        </div>
        <%end%>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        <!-- <div class="header-content">
            <div class="header-content-inner">
                <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                <hr>
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div> -->
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"> Model United Nations at UCSD</h2>
                <!--     <hr class="light"> -->
                    <p class="text-faded">As a club, we aim to develop a globally aware and socially concerned community by expanding students' understanding of pertinent social, economic and political issues.
                    </p>
                    <a href="" style="position: relative; z-index: 999999;">
                       <span id="learn">
                        Learn how you can participate
                          <span id="arrow">
                             ➤
                         </span>
                       </span>
                    </a>
                     <a href="#" class="btn btn-default btn-xl">JOIN US</a> 

                </div>
            </div>
        </div>
    </section>

    
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <% @apply.each do|apply|%>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <%= image_tag  apply.image_url.url ,class: "img-responsive"%>
                       
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                
                                <div class="project-name">
                                    <%=apply.headline%>
                                </div>
                                 <%= button_tag apply.button_url, :class => "btn btn-primary changebutton" do %>
                                 <%= t(apply.button_text)%>
                                 <% end %>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <%end%>
                <!-- <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="assets/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div> -->
            </div>
        </div>
    </section>

   

</body>

</html>
