<div class="div_height">
<h1 class="text-center" style="background-color:#404da2;margin-bottom:10px;height: 85px;
padding-top: 17px;color:white;">FAQ</h1>
  <div class="container a faq" style ='background-color:;'>
    <div class="row">    
      <p class="text-center text-inline"> </p>
      <div class="" >
        <%@faqs.each do |faq|%>
        <div class="content container">
            <div class="page-wrapper">
              <header class="page-heading clearfix faq_header">
                <h1 class="heading-title pull-left " style="color:black;"> <%=faq.name%></h1>
              </header> 
              <%faq.questions.each_with_index do |question, index|%>
              <div class="page-content">
                <div class="row page-row">
                   <div class="faq-wrapper col-md-8 col-sm-7">                         
                      <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <%=index+1 %>.<%= link_to question.question, "javascript:void(0)",class: "cmt_button11",id:question.id,style:"color:black;"%>
                            </h4>
                          </div><!--//pane-heading-->
                          <div style="display:none;" id="<%=question.id%>div">
                            <div class="panel-body">
                              <%=question.answer.html_safe%>
                            </div><!--//panel-body-->
                          </div><!--//panel-colapse-->
                                  
                        </div><!--//panel-->
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
            </div>
        </div>
        <%end%> 
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
$(".cmt_button11").click(function(){
    var id =$(this).attr("id")
    $("#"+id+"div").toggle();
    
  });
});
</script>