<div class = "conference row header-title-bg" style = "margin: 2% 0% 3% 0%;">
  <div class="col-lg-12 text-center header-img">
    <h2 class = "section-heading">Fees and Timeline</h2>
    <h3 class = "section-subheading text-muted">Deadlines and Fees for participation</h3>
  </div>
</div>

<% if @deadlines.count.zero? %>
  <div class="col-md-12 coming-soon" >
    <h1 class = "coming-soon-title">Coming Soon :)</h1>
  </div>
<% else %>
  <div class="container" id="pricing-section">
    <div class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
      <div id="pricing-table" class="row">
        <% @deadlines.each do |deadline|%>
          <div class="col-md-4 col-sm-4">
            <ul class="plan-main">
              <li class="plan-name"><%= deadline.phase_id %></li>
              <li ><%=deadline.date.strftime("%e %B, %Y")%></li>
              <li>
                <span class = "plan-dollar">$</span>
                <span class= "plan-price"><%= deadline.delegate_fee %></span>
              </li>
              <li>
                <span class = "plan-delegate">Per Delegate</span>
              </li>
              <li>
                <span class = "plan-delegate">$<%= deadline.delegation_fee%></span>
              </li>
              <li>
                <span class = "plan-delegate">Per Delegation</span>
              </li>
              <li class = "plan-info"><%=deadline.deadline_info%></li>
              <li class="plan-action">
                <% if deadline.date < Date.today %>
                 <% if @overviews.count.zero? %>
                    <a class = "conference_promo_button conference_button button-white-bg" href = "" style = "pointer-events:none">
                      Register Now
                      <span class = "glyphicon glyphicon-chevron-right button-icon-hider"></span>
                    </a>
                  <%else%>
                    <a class = "conference_promo_button conference_button button-white-bg" href = "<%= @overviews.take.registration_form_url %>" style = "pointer-events:none">
                      Register Now
                      <span class = "glyphicon glyphicon-chevron-right button-icon-hider"></span>
                    </a>
                  <% end %>
                <% else %>
                  <% if @overviews.count.zero? %>
                    <a class = "conference_promo_button conference_button button-white-bg" href = "">
                      Register Now
                      <span class = "glyphicon glyphicon-chevron-right button-icon-hider"></span>
                    </a>
                  <%else%>
                    <a class = "conference_promo_button conference_button button-white-bg" href = "<%= @overviews.take.registration_form_url %>">
                      Register Now
                      <span class = "glyphicon glyphicon-chevron-right button-icon-hider"></span>
                    </a>
                  <% end %>
                <%end%>
              </li>
            </ul>
          </div>
        <%end%>
      </div>              
    </div>
  </div>
<% end %>

<%if @overviews.count.zero? %>
<% else %>
  <div class = "col-md-6 page-info">
    <span class = "page-info-text">
      Position Papers Submition Deadline <span class = "page-info-data"><%= @overviews.take.position_paper_deadline.strftime("%e %B, %Y") %></span>
    </span>
<!--     <br />
    <span class = "page-info-text">
      Delegation Fee (Per School) <span class = "page-info-data">$<%= @overviews.take.delegation_fee %></span>
    </span> -->
  </div>
<% end %>
