<div class = "contact-page">
  <div id = "map" class = "col-md-12 contact-map"></div>
  <div class = "col-md-12">	
	<div class=" col-sm-12 col-md-6 contact-form">
	<div id="flash">
	  <%flash.each do |k,v|%>
		<%=v%>
	  <%end%>
	</div>
	  <h1 class = "contact-form-title">Write Us</h1>
	
	  <%=form_for @contact do |f|%>
		<div class = "name_field col-md-6 col-sm-12"><%=f.text_field :name, placeholder: "Name *", class: "text-fields" %></div>
		<div class = "email_field"><%=f.text_field :email, placeholder: "Email *" %></div>
		<div class = "message_field"><%= f.text_area :message, placeholder: "Message *",  rows: "7" %></div>
		<div class = "form_submit col-md-12 ">
		<%=hidden_field_tag :category_id, params[:id]%>
		<%= f.submit 'Submit',class:"from_test" do%>
		   <%end%>
		</div>
	  <%end%>
	</div>

	<div class="col-md-4 col-sm-12" style = "float:left; margin: 0% 5%; padding: 0;">
	  <h1 class = "contact-form-title">More Info</h1>
	  <p class = "contact-about">
	  	For information about how to join Model United Nations at UCSD, contact <a href = "mailto:travelingtritons@gmail.com">travelingtritons@gmail.com</a><br />
	  	For information about our high school conferences, contact <a href = "mailto:tritonmun.ucsd.@gmail.com">tritonmun.ucsd.@gmail.com</a><br />
	  	For information about our college conference, contact <a href = "mailto:sandimun.ucsd@gmail.com">sandimun.ucsd@gmail.com</a>
	  </p>
	  <p class = "contact-details">
	  	<span class = "contact-detail-title">Location:</span><span> Asante AD, I-House</span>
	  </p>
	  <!-- <p class = "contact-details"><span class = "contact-detail-title">Phone:</span><span> 123.4567.890</span></p> -->
	  <p class = "contact-details"><span class = "contact-detail-title">Meeting Times:</span><span> 7p-9p Thursdays, 1p-3p Sundays<span></p>
	</div>
  </div>
</div>


<script>
$('document').ready(function() {
  setTimeout(function() {
    $('#flash').slideUp();
  }, 3000);
});
	function initMap() {
  	var myLatLng = {lat: 32.8840261, lng:  -117.2419056};
  	var map = new google.maps.Map(document.getElementById('map'), {
    	zoom: 15,
    	center: myLatLng
  	});
	  var marker = new google.maps.Marker({
  	    position: myLatLng,
    	map: map,
    	flat: true,
    	title: 'Asante Hall',
  	});
	}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
</script>



			