<div class = "contact-page">
  <div id = "map" class = "col-md-12 contact-map"></div>
  <div class = "col-sm-12">	
	<div class=" col-sm-12 col-md-6 contact-form">
	
	  <%flash.each do |k,v|%>
		<%=v%>
	  <%end%>
	
	  <h1 class = "contact-form-title">Get In Touch</h1>
	
	  <%=form_for @contact do |f|%>
		<div class = "name_field col-md-6 col-sm-12"><%=f.text_field :name, placeholder: "Name", class: "text-fields" %></div>
		<div class = "email_field"><%=f.text_field :email, placeholder: "Email" %></div>
		<div class = "message_field"><%= f.text_area :message, placeholder: "Message",  rows: "7" %></div>
		<div class = "form_submit col-md-12 ">
		  <%= f.submit 'Submit',class:"from_test" do%>
		   <%end%>
		</div>
	  <%end%>
	</div>

	<div class="col-md-3 col-sm-12" style = "float:left; margin: 0% 10%; padding: 0;">
	  <h1 class = "contact-form-title">More Info</h1>
	  <p class = "contact-about">sit amet, consectetur adipiscing elit. Integer placerat metus id orci facilisis, in luctus eros laoreet. Mauris interdum augue varius, faucibus massa id, imperdiet tortor. Donec vel tortor molestie, hendrerit sem a, hendrerit arcu. Aliquam erat volutpat. Proin varius eros eros, non condimentum nis.</p>
	  <p class = "contact-details">
	  	<span class = "contact-detail-title">Address:</span><span> 890 Lorem Ipsum Street #12</span>
	  </p>
	  <p class = "contact-details">San Francisco, California 65432</p>
	  <p class = "contact-details"><span class = "contact-detail-title">Phone:</span> <span>123.4567.890</span></p>
	  <p class = "contact-details"><span class = "contact-detail-title">Business Hours:</span> <span>8a–6:30p M-F, 9a–2p S-S<span></p>
	</div>
  </div>
</div>


<script>
	function initMap() {
  	var myLatLng = {lat: 30.726996, lng:  76.841108};
  	var map = new google.maps.Map(document.getElementById('map'), {
    	zoom: 10,
    	center: myLatLng
  	});
	  var marker = new google.maps.Marker({
  	  position: myLatLng,
    	map: map,
    	title: 'Net Solutions',
    	label: "Net Solutions"
  	});
	}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
</script>



			