<div class = "form_div">
</div>
<div id="map"></div>
<div class = "content_div">
	<div class="col-sm-8">
		<%flash.each do |k,v|%>
			<%=v%>
		<%end%>
		<h1>Get In Touch</h1>
		<%=form_for @contact do |f|%>
			<div class="name_field"><%=f.text_field :name, placeholder: "Name"%></div>
			<div class="email_field"><%=f.text_field :email, placeholder: "Email", class: "text_box email_text"%></div>
			<div class="message_field"><%=f.text_area :message, placeholder: "Message",  rows: "7" %></div>
			<div class="form_submit"><%=f.submit%></div>
		<%end%>
	</div>
	<div class="col-sm-3">
		<h3>More Info</h3>
		sit amet, consectetur adipiscing elit. Integer placerat metus id orci facilisis, in luctus eros laoreet. Mauris interdum augue varius, faucibus massa id, imperdiet tortor. Donec vel tortor molestie, hendrerit sem a, hendrerit arcu. Aliquam erat volutpat. Proin varius eros eros, non condimentum nis.
		Address: 890 Lorem Ipsum Street #12
		San Francisco, California 65432
		Phone: 123.4567.890
		Business Hours: 8a–6:30p M-F, 9a–2p S-S
	</div>
</div>
<script>
	function initMap() {
  	var myLatLng = {lat: 30.726996, lng:  76.841108};
  	var map = new google.maps.Map(document.getElementById('map'), {
    	zoom: 10,
    	center: myLatLng
  	});
	  var marker = new google.maps.Marker({
  	  position: myLatLng,
    	map: map,
    	title: 'Net Solutions',
    	label: "Net Solutions"
  	});
	}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
</script>



			