<div class = "section">
  <div class = "container cmt_container">

    <div class="row" style = "margin-bottom: 3%; margin-top: 2%;">
      <div class="col-lg-12 text-center " style = "background-image: url('/assets/conference-title.jpg'); background-size: cover;">
        <h2 class = "section-heading">Committees</h2>
        <h3 class = "section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>

    <div class = "row object-non-visible animated object-visible fadeIn" data-animation-effect = "fadeIn">
      <div class = "col-md-12">
        <div style = "height: auto;" class = "isotope-container row grid-space-20">
          <% @committees.each do |committee|%>
            <div style = "height: auto;" class = "col-sm-6 col-md-3 isotope-item web-design">
              <div class = "image-box">
                <div class = "overlay-container">
                  <%= image_tag  committee.image_url.url, class: "img-responsive "%> 
                  <a class = "overlay testimg" id = "<%=committee.id%>" data-toggle = "modal" data-target = "#project-1">
                    <i class = "fa fa-plus-circle"></i>
                  </a>
                </div>
              <div class = "btn-block" data-toggle = "modal" data-target = "#project-1"><%=committee.committee_name%></div>
            </div>

            <div class = "modal fade" id = "<%= committee.id %>committee" tabindex = "-1" role = "dialog" aria-labelledby = "myModalLabel" aria-hidden = "true">
              <div class = "modal-dialog">
                <div class = "modal-content">
                  <div class = "modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                    <h2 class = "modal-title modal-title-header" id = "myModalLabel"><%= committee.committee_name %></h2>
                  </div>
                  <div class = "modal-body">

                    <a class = "btn commt_button conference_promo_button conference_button button-white-bg" style = "margin-top: -10px; margin-right: -8px; min-width:0px;">
                      Topic Guide
                      <span class="glyphicon glyphicon-chevron-right button-icon-hider"></span>
                    </a>
                  
                    <p>
                      <span class = "committee_chair committee-subheading">
                        Chair:
                      </span>
                      <span class = "chair-name">
                        <%= committee.chair %>
                      </span>
                    </p>
                    <p>
                      <span class = "committee_chair">
                        Vice Chair:
                      </span>
                      <span class = "chair-name">
                        <%= committee.vice_chair %>
                      </span>
                    </p>

                    <div class = "topic-data">
                      <%committee.topics.each do |topic|%>
                        <h4 class = "committee-topic"><%=topic.topic_name%></h4>
                        <span class = "modal_data">
                          <%= image_tag  topic.image_url.url , class: "img-responsive committee-image-height" %>
                        </span>
                        <span class = "topic_desc">
                          <%= topic.description.html_safe %>
                        </span>
                      <%end%>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal --> 
                <!-- Modal end -->     
            </div>
          <%end%>
        </div>
            <!-- portfolio items end -->
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(window).load(function(){
    $('.testimg').on('click',function()
                {    var id =$(this).attr("id")
                    // var sr=$(this).attr('src'); 
                    // $('#mimg').attr('src',sr);
                    $('#'+id+"committee").modal('show');
                });
});
</script>