<%= form_for(@training_session) do |f| %>
  <% if @training_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training_session.errors.count, "error") %> prohibited this training_session from being saved:</h2>

      <ul>
      <% @training_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :committee %><br>
    <%= f.text_field :committee %>
  </div>
  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :topic_guide_url %><br>
    <%= f.text_field :topic_guide_url %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :subheading %><br>
    <%= f.text_field :subheading %>
  </div>
  <div class="field">
    <%= f.label :page_description %><br>
    <%= f.text_area :page_description %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
