<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @training_session.date %>
</p>

<p>
  <strong>Committee:</strong>
  <%= @training_session.committee %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @training_session.topic %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training_session.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @training_session.image_url %>
</p>

<p>
  <strong>Topic guide url:</strong>
  <%= @training_session.topic_guide_url %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @training_session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @training_session.end_time %>
</p>

<p>
  <strong>Subheading:</strong>
  <%= @training_session.subheading %>
</p>

<p>
  <strong>Page description:</strong>
  <%= @training_session.page_description %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @training_session.is_active %>
</p>

<%= link_to 'Edit', edit_training_session_path(@training_session) %> |
<%= link_to 'Back', training_sessions_path %>
