<h1 class="text-center" style="background-color:#404da2;margin-bottom:10px;height: 85px;
padding-top: 17px;color:white;">COMMITEE</h1>

<section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <% @committees.each do|cmt|%>
                <div class="col-lg-4 col-sm-6">
                    <a href="javascript:void(0)" class="portfolio-box">
                        <%= image_tag  cmt.image_url.url ,class: "img-responsive testimg",style:"padding-bottom:10px;"%> </a>
                        
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h2 class="modal-title" id="myModalLabel"><%=cmt.committee_name%></h2>
                                </div>
                                <div class="modal-body">
                                  <%= image_tag  cmt.image_url.url ,class: "img-responsive ",style:"height:20px; width:50px;" %>
                                  <p>Chair:<%=cmt.chair%></p>
                                  <p>Vice Chair:<%=cmt.vice_chair%></p>
                                  <div>
                                    <%cmt.topics.each do |topic|%>
                                    <h4><%=topic.topic_name%></h4>
                                    <span><%= image_tag  topic.image_url.url ,class: "img-responsive ",style:"height:20px; width:50px;" %></span>
                                    <span class="topic_des"><%= topic.description.html_safe%></span>
                                    <%end%>
                                  </div>
                                   

                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->       
                </div>
                <%end%>
            </div>
        </div>
    </section>            
