<div class="div_height">
<h1 class="text-center" style="background-color:#404da2;margin-bottom:10px;height: 85px;
padding-top: 17px;color:white;">Speaker</h1>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <% @speakers.each do|spk|%>
        <div class="col-lg-4 col-sm-6">
          <a href="javascript:void(0)" class="portfolio-box">
                        <%= image_tag  spk.image_url.url ,class: "img-responsive spkimg img-rounded",style:"margin-bottom:10px;",id:spk.id%> 
          </a>              
          <div class="modal fade" id="<%=spk.id%>spk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="myModalLabel"><%=spk.name%></h2>
                  </div>
                  <div class="modal-body">
                    <p><span class="panel_data">Panel</span>:<%=spk.panel%></p>   
                    <span class="modal_data"><%= image_tag  spk.image_url.url ,class: "img-responsive ",style:"height:72px; width:85px;" %> 
                    </span>
                    <span class="topic_des"><%= spk.description.html_safe%></span>
                  </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->       
        </div>
      <%end%>
    </div>
  </div>
</section>            
</div>
<script type="text/javascript">
$(window).load(function(){
    $('.spkimg').on('click',function()
                {   var id =$(this).attr("id")
                    // var sr=$(this).attr('src'); 
                    // $('#mimg').attr('src',sr);
                    $('#'+id+"spk").modal('show');
                });
});
</script>








<div class="et_pb_section  et_pb_section_1 et_section_regular">
        
        
          
          <div class=" et_pb_row et_pb_row_0">
        
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_0">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_0 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_right et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-2.jpg" alt="Eva Simmons">
        </div>
        <div class="et_pb_team_member_description">
          <% @speakers.each do|spk|%>
          <h4><%=spk.name%></h4>
          <p class="et_pb_member_position">Founder, CEO</p>
          Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.
          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_1">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_1 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_bottom et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-4.jpg" alt="Keith Williams">
        </div>
        <div class="et_pb_team_member_description">
          <h4>Keith Williams</h4>
          <p class="et_pb_member_position">Senior Developer</p>
          
<p>Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.</p>

          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_2">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_2 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_left et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-6.jpg" alt="Melody Ford">
        </div>
        <div class="et_pb_team_member_description">
          <h4>Melody Ford</h4>
          <p class="et_pb_member_position">Senior Developer</p>
          
<p>Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.</p>

          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column -->
          
      </div> <!-- .et_pb_row --><div class=" et_pb_row et_pb_row_1">
        
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_3">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_3 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_right et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-5.jpg" alt="Jake Wade">
        </div>
        <div class="et_pb_team_member_description">
          <h4>Jake Wade</h4>
          <p class="et_pb_member_position">Senior Graphic Designer</p>
          
<p>Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.</p>

          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_4">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_4 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_top et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-3.jpg" alt="Annette Blair">
        </div>
        <div class="et_pb_team_member_description">
          <h4>Annette Blair</h4>
          <p class="et_pb_member_position">Account Manager</p>
          
<p>Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.</p>

          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_3 et_pb_column_5">
        <div class="et_pb_module et_pb_team_member  et_pb_team_member_5 et_pb_bg_layout_light clearfix">
        <div class="et_pb_team_member_image et-waypoint et_pb_animation_left et-animated">
          <img src="http://elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/team-member-1.jpg" alt="Daniel Hall">
        </div>
        <div class="et_pb_team_member_description">
          <h4>Daniel Hall</h4>
          <p class="et_pb_member_position">Community Manager</p>
          
<p>Aenean consectetur ipsum ante, vel egestas enim tincidunt quis. Pellentesque vitae congue neque, vel mattis ante. In vitae tempus nunc. Etiam adipiscing enim sed condimentum ultrices. Cras rutrum blandit sem, molest.</p>

          <ul class="et_pb_member_social_links"><li><a href="#" class="et_pb_font_icon et_pb_facebook_icon"><span>Facebook</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_twitter_icon"><span>Twitter</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_google_icon"><span>Google+</span></a></li><li><a href="#" class="et_pb_font_icon et_pb_linkedin_icon"><span>LinkedIn</span></a></li></ul>
        </div> <!-- .et_pb_team_member_description -->
      </div> <!-- .et_pb_team_member -->
      </div> <!-- .et_pb_column -->
          
      </div> <!-- .et_pb_row -->
        
      </div>