<div class = "conference row header-title-bg" style = "margin: 2% 0% 3% 0%;">
  <div class="col-lg-12 text-center sponsor-header-img">
    <h2 class = "section-heading"><%= @categories.where(id: params[:id]).take.name %></h2>
    <h3 class = "section-subheading text-muted"><%= @categories.where(id: params[:id]).take.subheading %></h3>
  </div>
</div>

<section id = "team" class = "bg-light-gray" style = "padding:0px 0px;">
  <div class = "container a faq">
    
    <div class = "row faqtable" style = "margin-top: 5%; margin-bottom: 5%;">
      <div class = "content container faqs">
        <div class = "page-wrapper">
            <div class = "page-content">
              <div class = "row page-row">
                <div class = "faq-wrapper col-md-8 col-md-offset-2">
                  <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default" style="padding: 0%;">
                      <div class = "sponsor-panel-heading dropdown" id = "letter" style = "padding: 10% 15px;">
                        <%= link_to "Letter to Sponsors", "javascript:void(0)", class: "cmt_button11 panel-title sponsor-tier-title"%>
                        <div style = "display: none;" class = "letter-dropdown">
                          <div class = "panel-body">
                            <div class = "container">
                              <% if @pages.where(name: 'Letter').exists? %>
                                <%= @pages.where(name: 'Letter').take.content.html_safe %>
                              <%else%>
                                <div class="col-md-12 coming-soon" >
                                  <h1 class = "coming-soon-title">Coming Soon :)</h1>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class = "page-content">
              <div class = "row page-row">
                <div class = "faq-wrapper col-md-8 col-md-offset-2">
                  <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default" style="padding:0px;">
                      <div class = "sponsor-panel-heading" id = "table" style = "padding: 10% 15px;">
                        <%= link_to "Sponsorship Opportunities", "javascript:void(0)", class: "cmt_button12 panel-title sponsor-tier-title"%>
                        <div style = "display: none;" class = "table-dropdown">
                          <div class = "panel-body">
                            <div class="container">
                              <% if @pages.where(name: 'Sponsorship Opportunities').exists? %>
                                <%= @pages.where(name: 'Sponsorship Opportunities').take.content.html_safe %>
                              <%else%>
                                <div class="col-md-12 coming-soon" >
                                  <h1 class = "coming-soon-title">Coming Soon :)</h1>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = "page-content">
              <div class = "row page-row">
                <div class = "faq-wrapper col-md-8 col-md-offset-2">
                  <div class = "panel-group" id = "accordion">
                    <div class = "panel panel-default" style="padding:0px;">
                      <div class = "sponsor-panel-heading" id = "inquiry" style = "padding: 10% 15px;">
                        <%= link_to "Further Inquiries", "javascript:void(0)", class: "cmt_button13 panel-title sponsor-tier-title"%>
                        <div style = "display: none;" class = "inquiry-dropdown">
                          <div class = "panel-body">
                            <div class="container">
                              <% if @pages.where(name: 'Further Inquiries').exists? %>
                                <%= @pages.where(name: 'Further Inquiries').take.content.html_safe %>
                              <%else%>
                                <ul style="list-style-type: none; font-size: 18px; font-weight: 200;">
                                  <li style="padding-bottom: 5%;">For Inquiries Please Contact:</li>
                                  <li>John Murillo</li>
                                  <li>Chief-of-Staff</li>
                                  <li><a href="mailto:jpmurill@ucsd.edu?" target="_top">jpmurill@ucsd.edu </a></li>
                                </ul>
                                <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if @sponsors.count.zero? %>
<% else %>
  <div class = "col-md-12 home-sponsors">
    <div class = "cold-md-12 home-sponsors-header">
      <h1 class = "home-sponsors-title">Our Sponsors</h1>
    </div>
    <ul class = "sponsor-list">
      <% @sponsors.each do |sponsor| %>
        <li class = "sponsor-list-item">
          <img src = "<%= sponsor.logo_url %>" alt = "<% sponsor.name %>" class = "sponsor-img">
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){

  $(".cmt_button11").click(function(e){
    e.preventDefault();
    var $div = $(this).next('.letter-dropdown');
    $(".letter-dropdown").not($div).hide();
    $(".table-dropdown").not($div).hide();
    $(".inquiry-dropdown").not($div).hide();
    $(".sponsor-panel-heading .cmt_button13").css('display', 'block');
    $(".sponsor-panel-heading .cmt_button12").css('display', 'block');
    $(".sponsor-panel-heading .cmt_button11").css('display', 'none');
    $("#letter").css({'padding-top': '10%', 'padding-bottom': '10%'});
    if ($div.not(":visible")) {
      $div.show();
    }
  });
  
  $(".cmt_button12").click(function(e){
    e.preventDefault();
    var $div = $(this).next('.table-dropdown');
    $(".letter-dropdown").not($div).hide();
    $(".table-dropdown").not($div).hide();
    $(".inquiry-dropdown").not($div).hide();
    $(".sponsor-panel-heading .cmt_button12").css('display', 'none');
    $(".sponsor-panel-heading .cmt_button11").css('display', 'block');
    $(".sponsor-panel-heading .cmt_button13").css('display', 'block');
    $("#table").css({'padding-top': '10%', 'padding-bottom': '10%'});
    if ($div.not(":visible")) {
      $div.show();
    }
  });  

  $(".cmt_button13").click(function(e){
    e.preventDefault();
    var $div = $(this).next('.inquiry-dropdown');
    $(".letter-dropdown").not($div).hide();
    $(".table-dropdown").not($div).hide();
    $(".inquiry-dropdown").not($div).hide();
    $(".sponsor-panel-heading .cmt_button12").css('display', 'block');
    $(".sponsor-panel-heading .cmt_button11").css('display', 'block');
    $(".sponsor-panel-heading .cmt_button13").css('display', 'none');
    $("#inquiry").css({'padding-top': '10%', 'padding-bottom': '10%'});
    if ($div.not(":visible")) {
      $div.show();
    }
  });
});
</script>
