<div class="conference-columns">
  <div class="container-fluid">
        <div class = "column-1 col-md-2">
          <div class = "category-text">
            <%=link_to "Overview", overviews_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
        <div class = "column-2 col-md-2">
          <div class = "category-text">
            <%= link_to "Deadlines", deadlines_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
        <div class = "column-3 col-md-2">
          <div class = "category-text">
            <%= link_to "Schedule", schedules_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
        <div class = "column-4 col-md-2">
          <div class = "category-text">
            <%= link_to "Committees", committees_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
        <div class = "column-5 col-md-2">
          <div class = "category-text">
            <%= link_to "Speakers", speakers_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
        <div class = "column-6 col-md-2">
          <div class = "category-text">
            <%= link_to "FAQs", faqs_path(category_id: params[:id])%>
          </div>
          <div class = "inner">
          </div>
        </div>
    </div>
</div>

<div class = "register">
  <button type = "button">Register</button>
</div>