<div class = "conference row header-title-bg" style = "margin: 2% 0% 3% 0%;">
  <div class = "col-lg-12 text-center header-img">
    <h2 class = "section-heading">Speakers</h2>
    <h3 class = "section-subheading text-muted">Leading individuals providing perspective to our conversations</h3>
  </div>
</div>

<% if @speakers.count.zero? %>
  <div class="col-md-12 coming-soon" >
    <h1 class = "coming-soon-title">Coming Soon :)</h1>
  </div>
<% else %>
  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter">
        <% @speakers.each do|speaker|%>
          <div class="col-md-4 col-sm-4" style="width:100%;">    
            <div class="bio-box">
              <div class=" photo col-md-2">
                <% if speaker.image_url.url.nil? %>
                  <%= image_tag  speaker.image_url.url ,class: "img-responsive spkimg img-circle " ,id:speaker.id%>
                <% else %>
                  <%= image_tag("default_avatar.png", alt: "logo", class: "img-responsive spkimg img-circle")%>
                <%end%>
              </div>
              <div class="bio-right col-md-7">
                <div class="bio-header">
                  <div class="position-one"><%=speaker.name%></div>
                  <div class="name"><%=speaker.panel%></div>
                </div>
                <div class="bio">
                  <span class="topic_des"><%= speaker.description.html_safe%></span><br />
                  <span class = "social-media-links">
                    <% if speaker.fb_url.present? %>
                      <a href = "<%= speaker.fb_url %>">
                        <span class = "fa fa-facebook social-media-item"></span>
                      </a>
                    <% end %>
                    <% if speaker.tw_url.present? %>
                      <a href = "<%= speaker.tw_url %>">
                        <span class = "fa fa-twitter social-media-item"></span>
                      </a>
                    <% end %>
                    <% if speaker.in_url.present? %>
                      <a href = "<%= speaker.in_url %>">
                        <span class = "fa fa-linkedin social-media-item"></span>
                      </a>
                    <% end %>
                    <% if speaker.website_url.present? %>
                      <a href = "<%= speaker.website_url %>">
                        <span class = "fa fa-globe social-media-item"></span>
                      </a>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </section>
<% end %>
