<nav id = "mainNav" class = "navbar navbar-default navbar-fixed-top affix-top white-bg banner" style = "background-color: #fff; padding: 1%; -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);">
  <div class = "container-fluid">
    <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle collapsed test-bg" data-toggle = "collapse" data-target = "#bs-example-navbar-collapse-1">
        <span class = "sr-only">Toggle navigation</span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>

      <div class = "inline-brand">
        <div>
          <%= link_to image_tag("brand-logo.png"), root_url, class: "navbar-brand page-scroll nav-brand-logo", style: 'padding: 0; margin-right: 5px;' %>
<!--           <a class = "navbar-brand page-scroll nav-brand-logo" style = "padding-top: 0" href = "">
            <img src = "/assets/brand-logo.png">
          </a> -->
        </div>
        <div>
          <%=link_to "UCSD MUN" , root_url,  class: "navbar-brand page-scroll brand-name"%>
          <!-- <a class = "navbar-brand page-scroll brand-name" href = "">UCSD MUN</a> -->
        </div>
      </div>

    </div>
    <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
      <ul class = "nav navbar-nav navbar-right">
        <% @categories.each do |category| %>
          <% if category.category_id.nil? %>
            <% sub_cat = Category.where(category_id: category.id).order('created_at ASC') %>
              <% if sub_cat.blank? %>
                <li>
                  <%= link_to category.name, categories_path(id: category.id) %>
                </li>
              <% else %>
                <li class = "dropdown">
                  <a href = "categories?id = <%=category.id%>" data-hover="dropdown" data-toggle="dropdown" class = "dropdown-toggle " data-id = <%=category.id%> >
                    <%=category.name%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% sub_cat.each do |c| %>
                      <li><%= link_to c.name, categories_path(id: c.id) %></li>
                    <%end%>
                  </ul>
                </li>
              <%end%>
          <%end%>
        <%end%>            
      </ul>
    </div>
  </div>
</nav>
<script type="text/javascript">
$(window).scroll(function() {
  if ($(document).scrollTop() > 50) {
    $('nav').addClass('shrink');
    $('.brand-name1').show();
    $('.brand-name').hide();
  } else {
    $('nav').removeClass('shrink');
    $('.brand-name1').show();
    $('.brand-name').show();
  }
});
</script>
